footer {
    background-color: #ABDF75;
    height: 100%;
    max-width: 100%;
    padding: 18px;

    p {
        margin: 15px 0px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        color: black;
    }
}